<div class=" my-4 border cv">
  <form [formGroup]="cvForm" (ngSubmit)="onSubmit" class="container">

  <div class="row">
    <div class="col-md-4 bg-secondary text-light left-side">
      <img src="assets/profileImage.jpeg" class="mt-5 mb-3 rounded-circle img-thumbnail" alt="...">

      <!-- Display contact information -->
      <div>
          <h2 class="heading">Contact</h2>
          <div formGroupName="contactInfo">
          <div class="form-group input-group-sm pb-3">
            <input type="text" #box (keyup)="onKey(box.value)" placeholder="Full name" formControlName="name" class="form-control">
          </div>

          <div class="form-group input-group-sm pb-3">
            <input type="text" placeholder="Address" formControlName="address" class="form-control">
          </div>

          <div class="form-group input-group-sm pb-3">
            <input type="email" placeholder="Email" formControlName="email" class="form-control">
          </div>

          <div class="form-group input-group-sm pb-3">
            <input type="email" placeholder="Phone" formControlName="phone" class="form-control">
          </div>
        </div>
      </div>
      <!-- Display skills -->
      <div>
        <div class="row">
          <div class="col-6">
            <h2 class="heading">Skills</h2>
          </div>
        </div>
        <hr>
        <div formArrayName="skills">
          <div *ngFor="let skill of skillsControls; let i = index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-8">
                <div class="py-1">
                  <input type="text" placeholder="e.g. Programming" formControlName="skill" class="form-control">
                </div>
              </div>
                <div class="col-md-2">
                  <div class="py-1">
                    <button type="button" class="btn btn-sm btn-success" (click)="addSkill()">             
                      +
                    </button>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="py-1">
                    <button type="button" class="btn btn-sm btn-danger" (click)="removeSkill(i)">
                      -
                    </button>
                  </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
      <!-- Display languages -->

      <div>
        <div class="row py-2">
          <div class="col-6">
            <h2 class="heading">Languages</h2>
          </div>
        </div>
        <hr>
        <div formArrayName="languages">
          <div *ngFor="let language of languageControls; let i = index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-8">
                <div class="py-1">
                  <input type="text" placeholder="e.g. German" formControlName="language" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="py-1">
                  <button type="button" class="btn btn-sm btn-success" (click)="addLanguage()">             
                    +
                  </button>
                </div>
              </div>
              <div class="col-md-2">
                <div class="py-1">
                  <button type="button" class="btn btn-sm btn-danger" (click)="removeLanguage(i)">
                    -
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 bg-light">
      <!-- Display full name -->
      <h1 class="text-center my-4" *ngIf="name">{{ name }}</h1>
      <h1 class="text-center my-4" *ngIf="!name">Your name</h1>

      <!-- Display about me -->
      <div>
        <h2 class="heading">About me</h2>
        <hr>
        <div class="form-group">
          <textarea placeholder="About me..." formControlName="aboutMe" required class="form-control"></textarea>
        </div>
        <p>{{ cvData?.aboutMe }}</p>
      </div>

      <!-- Display education -->

      <div formArrayName="education">
        <h2 class="heading">Education</h2>
        <hr>
        <div *ngFor="let education of educationControls; let i = index" [formGroupName]="i">
          <div class="row">
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. Bachelor of Computer Science" formControlName="degree" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. University of Applied Sciences" formControlName="institution" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="py-1">
                <input type="date" placeholder="e.g. 01.10.2018" formControlName="startDate" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="py-1">
                <input type="date" placeholder="e.g. 01.05.2021" formControlName="endDate" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="py-1">
                <button type="button" class="btn btn-outline-success " (click)="addEducation()">             
                  +
                </button>
                <button type="button" class="btn btn-outline-danger mx-2" (click)="removeEducation(i)">
                  -
                </button>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>

      <!-- Display experience -->

      <div formArrayName="experience">
        <h2 class="heading">Experience</h2>
        <hr>
        <div *ngFor="let experience of experienceControls; let i = index" [formGroupName]="i">
          <div class="row">
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. Finlex GmbH" formControlName="company" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. Frontend developer" formControlName="position" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="py-1">
                <input type="date" placeholder="e.g. 01.10.2018" formControlName="startDate" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="py-1">
                <input type="date" placeholder="e.g. 01.05.2021" formControlName="endDate" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="py-1">
                <button type="button" class="btn btn-outline-success " (click)="addExperience()">             
                  +
                </button>
                <button type="button" class="btn btn-outline-danger mx-2" (click)="removeExperience(i)">
                  -
                </button>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
      
      <!-- Display certifications -->

      <div formArrayName="certifications">
        <h2 class="heading">Certifications</h2>
        <hr>
        <div *ngFor="let certificate of certificationControls; let i = index" [formGroupName]="i">
          <div class="row">
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. Example name" formControlName="name" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. Example issuer" formControlName="issuer" class="form-control">
              </div>
            </div>
          </div>  
          <div class="row justify-content-between">
            <div class="col-md-6">
              <div class="py-1">
                <input type="date" placeholder="e.g. 20.10.2023" formControlName="date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="py-1">
                <button type="button" class="btn btn-outline-success " (click)="addCertification()">             
                  +
                </button>
                <button type="button" class="btn btn-outline-danger mx-2" (click)="removeCertification(i)">
                  -
                </button>
              </div>
            </div>
          </div>        
        </div>
      </div>

      <!-- Display references -->

      <div formArrayName="references">
        <h2 class="heading">References</h2>
        <hr>
        <div *ngFor="let reference of referencesControls; let i = index" [formGroupName]="i">
          <div class="row">
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. Example name" formControlName="name" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. Example position" formControlName="position" class="form-control">
              </div>
            </div>
          </div>  
          <div class="row justify-content-between">
            <div class="col-md-6">
              <div class="py-1">
                <input type="text" placeholder="e.g. example@email.de" formControlName="contact" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="py-1">
                <button type="button" class="btn btn-outline-success " (click)="addReference()">             
                  +
                </button>
                <button type="button" class="btn btn-outline-danger mx-2" (click)="removeReference(i)">
                  -
                </button>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center my-3">
      <button type="button" class="btn btn-primary" (click)="logFormData()">Log Form Data</button>
    </div>
  </div>
  </form>
</div>
