<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">CV Maker</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-cv">Create CV</a>
      </li>
    </ul>
  </div>

    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #notLoggedIn>
        <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="/login">Login</a>
        <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="/register">Register</a>
      </ng-template>
      
</nav>
