<div class="container">
  <div class="row">
    <div class="col-md-6 position-relative">
      <div class="pt-5">
        <h3>Unlock Your Professional Potential</h3>
        <p class="lead pt-4">
          Crafting the perfect resume has never been easier. Whether you're embarking on your career journey or seeking new horizons, CV Maker empowers you to create professional, eye-catching resumes that stand out.
        </p>
        <p class="lead pt-2">
          Elevate your professional profile with ease. Our intuitive platform lets you craft resumes that make an impact, opening doors to exciting opportunities and a brighter future.
        </p>
        <a routerLink="/create-cv" class="btn btn-primary btn-lg mt-2">Get Started</a>
      </div>
    </div>
    <div class="col-md-6 pt-5">
      <div class="row">
        <div class="col-12">
          <img src="./assets/create-cv-image.jpeg" alt="" style="min-height: 50vh;" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
